kind: Service
apiVersion: v1
metadata:
  name: hello-world
  namespace: default
  labels:
    app: hello-world
    tier: frontend
    version: "${VERSION}"
spec:
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: hello-world
    tier: frontend
