{% extends "base.html" %}

{% block title %}Apps – {{ super() }}{% endblock %}

{% block container %}
{% block header %}{% endblock %}
<div class="ui grid">
  <div class="row">

    <div class="four wide column">
      <div class="ui secondary vertical menu">
        <a class="active item" href="/">News Feed</a>
        <a class="item" href="/submit">Submit</a>
      </div>
    </div>

    <div class="twelve wide column">
      {% block content %}
      {% for post in posts %}
      <div class="ui card">
        <div class="content">
          <!-- <i class="right floated like icon"></i> -->
          <!-- <i class="right floated star icon"></i> -->
          <div class="header"><a href="{{ post.link }}">{{ post.title }}</a></div>
          <div class="meta">
            <span class="right floated time">2 days ago</span>
            <span class="category">Technology</span>
          </div>
          <div class="description"><p></p></div>
        </div>
        <div class="extra content">
          <span class="left floated rating">
            <div class="ui star rating" data-id="{{ post._id }}" data-rating="{{ [0,1,2,3,4] | random }}"></div>
          </span>
          <span class="right floated author">
            <a>@{{ post.user }}</a>
          </span>
        </div>
      </div>
      {% else %}
      Sorry, there are no posts yet!
      {% endfor %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script>
  $('.left.rating .rating').rating({
    onRate: function(value) {
      console.log($(this).data('id'), value);
    }
  });
</script>
{% endblock %}
